//
//  Secrets.xcconfig
//  Spotify_Clone_IOS
//
//  Created by Горніч Антон on 25.02.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SPOTIFY_CLIENT_ID = ваш_айді_тут
SPOTIFY_CLIENT_SECRET = ваш_секрет_тут
