<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.spotify.activation</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.cl.appauth</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>CircularStd-Black.otf</string>
		<string>CircularStd-Bold.otf</string>
		<string>CircularStd-Book.otf</string>
		<string>CircularStd-Medium.otf</string>
	</array>
</dict>
</plist>
