<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spotify_Clone_IOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>627246B12DDB84AD000C8562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>627246C12DDB84AE000C8562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>627246CB2DDB84AE000C8562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
